@import "tailwindcss";

@layer base {
  body {
    @apply bg-gray-200 text-black flex relative dark:text-white flex-col min-h-dvh dark:bg-[#232323] border-black dark:border-white;
  }
  #root {
    @apply min-h-dvh flex flex-col;
  }
}

@custom-variant dark (&:where(.dark, .dark *));

::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}
::-webkit-scrollbar-track {
  @apply bg-gray-200 rounded-full;
}
html.dark ::-webkit-scrollbar-track {
  background-color: #343434;
}
::-webkit-scrollbar-thumb {
  @apply bg-gray-400 rounded-full;
}
html.dark ::-webkit-scrollbar-thumb {
  background-color: #555555;
}
